<ul>
  <li>
    <span>Hover:</span>
    <span class="label" style="background-color: blue">Blue</span>
  </li>
  <li>
    <span>Active:</span>
    <span class="label" style="background-color: green">Green</span>
  </li>
  <li>
    <span>Focus:</span>
    <span class="label" style="background-color: red">Red</span>
  </li>
  <li>
    <span>Focus Visible:</span>
    <span class="label" style="background-color: orange">Orange</span>
  </li>
</ul>

<button id="tab-cycle">Focus this before tab</button>

<button id="target">target</button>
